.hidden{
    visibility: hidden;
    position: fixed;
    top:-1000px;
}
.container{
    min-width: 50%;
    display: block;
    margin-top: 0px;
    margin-left: 270px;
    margin-right: 270px;
    padding: 0px;
}
.logo{
    height: 100px;
}

header{
    color: #e9e9e9;
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;

    border-top-width: 0px;
    padding-top: 0;
    margin-top: 0px;
    background-image: linear-gradient(to bottom, rgb(48, 48, 48), rgb(104, 104, 104), rgb(17, 17, 17));
}
.slogan{
    position: relative;
    bottom: 40px;

}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #e9e9e9;
    background-image: url('/workshop2/src/bg13.jpg');
    background-size: 100%;
    padding: 0;
    margin: 0;
}

input{

    margin : 0px;
}
img {
    margin: 5px 10px;
    display: inline;
}

.open-btn{
    background-image: linear-gradient(to bottom, rgb(104, 104, 104), rgb(17, 17, 17));
    color: #e9e9e9;
    border: 1px solid;
    border-radius:6px;
    border-color: rgba(50, 50, 50, 1);

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    margin-top: 55px;


    position: relative;

}

.sidr-class-container{
    width: 90%;
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.sidr textarea{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.sidr-class-item{
    display: inline;
}

.sidr-class-btn{
    background-image: linear-gradient(to bottom, rgb(104, 104, 104), rgb(17, 17, 17));
    color: #e9e9e9;
    border: 1px solid;
    border-radius:6px;
    border-color: rgba(50, 50, 50, 1);

    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;

    margin: 0;
}

.sidr-class-open-btn{
    margin: 15px;
}
.sidr-class-big-btn{
    padding: 15px 15px;
    font-size: 20px;
    width: 100%;
}

.sidr-class-submit-btn{
    position: relative;
    padding: 15px 15px;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 40%;
}

.sidr-class-summary{
    position: absolute;
    bottom: 5px;
    width: 100%;
}
.sidr-class-summary-btn{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.sidr-class-left{
    float: left;
    padding-left: 10px;
}
.sidr-class-right{
    float: right;
    padding-right: 10px;
}
.right{
    float: right;
    padding-right: 10px;
}
.left{
    float: left;
    padding-left: 10px;
}
.sidr input[type="text"], .sidr input[type="password"], .sidr input[type="email"]{
    display: inline;
}

.sidr h1{
    font-size: 18px;
}
a{
    text-decoration: none;
}

#owl-carousel .item{
    margin: 3px;
}
#owl-carousel .item img{
    display: block;
    width: auto;
    height: 150px;
}
.presented_item{
    width: 15.7%;
    background-image: linear-gradient(to bottom,rgb(17, 17, 17), rgb(48, 48, 48), rgb(104, 104, 104), rgb(17, 17, 17));
    display: inline-block;
    padding: 30px;
    margin: 10px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgba(50, 50, 50, 1);
    font-size: 13px;
}
.promoted{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.promoted a{
    color: #e9e9e9;
}
.item_name{
    text-align: center;
    padding-bottom: 5px;
    font-size: 15px;
}
.item_name2{
    text-align: center;
    padding-bottom: 5px;
}

.one_item{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    background-image: linear-gradient(to bottom, rgb(104, 104, 104), rgb(17, 17, 17));
    color: #e9e9e9;
    border: 1px solid;
    border-radius:6px;
    border-color: rgba(50, 50, 50, 1);

    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;

    margin: 0;
}

.big-btn{
    padding: 15px 15px;
    font-size: 20px;
    width: 20%;
}

.sidr-class-btn-small{
    display: inline-block;
    background-image: linear-gradient(to bottom, rgb(104, 104, 104), rgb(17, 17, 17));
    color: #e9e9e9;
    border: 1px solid;
    border-radius:6px;
    border-color: rgba(50, 50, 50, 1);
    margin: 0 0;
    width: 20px;
    height: 20px;
    font-size: 14px;
}

div>form.sidr-class-item {
    display: inline;
    margin: 0;
}

.btn-small{
    display: inline-block;
    background-image: linear-gradient(to bottom, rgb(104, 104, 104), rgb(17, 17, 17));
    color: #e9e9e9;
    border: 1px solid;
    border-radius:6px;
    border-color: rgba(50, 50, 50, 1);
    margin: 0 0;
    width: 20px;
    height: 20px;
    font-size: 14px;
}

.item{
    display: inline;
}

.container li{
    padding: 10px;
}
.container ul input{
    text-align: right;
    width: 30px;
}

.container span .item_price{
    text-align: right;
    float: right;
    width: 50px;
}

.sidr ul li{
    margin-left: 5px;
    padding-left: 5px;
}